.banner
    &__list
        .slick
            &-prev
                left: 7vw

            &-next
                right: 7vw

        &:not(.slick-initialized)
            overflow: hidden
            display: flex

    &__item
        &:not(.slick-slide)
            min-width: 100%

    &__img
        display: block

@media $mobile
    .banner
        &__item
            height: 320px;
            position: relative;
            overflow: hidden;

        &__img
            max-height: 320px;
            min-width: fit-content;
            position: absolute;
            left: 50%;
            transform: translateX(-34%);
            top: 0;