.search
    position: relative

    &__input
        width: 100%
        border-radius: 10px
        border none
        background #EFEFEF
        height: 40px

        &::placeholder
            font-size: 12px
            font-weight: 400
            color: #353535

    &__button
        width: 120px
        height: 100%
        position: absolute
        top: 0
        right 0
        background: $color
        border-radius: 8px
        border: none
        font-size: 14px
        font-weight: 400
        color: #fff
        cursor: pointer
        transition $transition

        &:hover
            background #353535

@media $mobile
    .search
        width: 100%;

        &__button
            display: none