.showcase
    margin-top: 80px

    &__title
        font-size: 32px
        font-weight: 700
        color: #353535
        line-height: 49px
        text-align: center
        margin-bottom: 24px

    &__list
        margin: 0 -7px

        .slick-prev
            left: 7px

        .slick-next
            right: 7px

    &__item
        margin 0 7px 5px

@media $mobile
    .showcase
        margin 49px 0 0 13px

        &__title
            font-size: 24px
            line-height: 37px
            margin-bottom: 16px
            margin-right: 17px

        &__list
            margin 0 -30px
            .slick-list
                padding-left: 0 !important