.topbar
    background: #353535
    
    &__container
        max-width: 1600px
        margin: 0 auto

    &__list
        display: flex
        justify-content: center
        align-items: center
        
    &__text
        font-size: 12px
        font-weight: 400
        color: #fff
        line-height: 24px
        text-align: center

@media $mobile
    .topbar
        &__text
            font-size: 10px