/**
 *  Settings Global do CSS (Stylus)
 *  - Essas Configurações são chamados em todos arquivos styles
 */

// media queries breakpoints
$desktop = unquote("screen and (min-width: 992px)")
$mobile = unquote("screen and (max-width: 991px)")

// Color
$color = #FAA500

// transition
$transition = all .2s ease-out