.favorites
    &__link
        display: flex
        justify-content: center
        align-items: center

    &__icon
        margin-right: 8px
        display: flex
        svg
            fill #353535
            transition $transition

    &__title
        font-size: 14px
        font-weight: 400
        color: #353535
        line-height: 20px
        transition $transition